.app {
    text-align: center;
    padding: 40px;
    width: 100%;
   
    margin-top: 0rem;
  }
  .plan-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
    transition: ease-in-out .2s;
    flex-wrap: wrap;
  }
  .card1 {
    width: 500px;
    height: 320px;
    display: flex;
    
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    /* transition: transform 0.5s; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    transition: all 0.6s ease-in-out;
  }
  .card1:hover{
    box-shadow: rgba(255, 172, 28, 0.199) -10px 10px, rgba(255, 172, 28, 0.19) -20px 20px ;
}
  .card-back {
    color: #333;
    background-color: #fff;
    
  }

  
  .car-card img {
    max-width: 100%;
    max-height: 100%;
  }