
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    padding: 0;
    margin: auto;
    
  }
  
.gallery-item {
    position: relative;
    width: 24%; /* Since there are 4 items, each takes 25% of the width */
    height: 300px;
    overflow: hidden;
    border-radius: 5%;
    /* border: 2px dotted gray; */
    border-left: 5px solid orangered;
    border-bottom: 2px solid orange;
    border-spacing: 10cap;
    box-shadow: none;
    margin-top: 10px;
    
  }
  
  /* Image styling */
  .gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
  }
  
  /* Overlay styling */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  /* Text styling */
  .text {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  
  /* Button styling */
  .btn {
    padding: 10px 20px;
    background-color: #f6ff00;
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  /* Hover effects */
  .gallery-item:hover .gallery-image {
    transform: scale(1.1);
  }
  
  .gallery-item:hover .overlay {
    opacity: 1;
  }

  @media (min-width: 1200px) {
    .gallery-item {
      width: 24%;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199px) {
    .gallery-item {
      width: 32%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .gallery-item {
      width: 48%;
    }
  }
  
  @media (max-width: 767px) {
    .gallery-item {
      width: 100%;
      height: 15rem;
    }
  }